h1 {
    text-align: center;
    padding: 20px;
    top: 0%;
    background-color: crimson;
}

.fixed {
    position: fixed;
    border: 10px;
    top: 0%;
    left:0%;
    padding: 50px;
    margin:  30px;
    background-color: dimgrey;
}

.relative {
    position: relative;
    text-align: center;
    padding: 70px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: lightslategray;
}

.absolute {
    position: absolute;
}

p {
    margin: 100px;
}